<?xml version="1.0"?>
<psalm
    totallyTyped="false"
    cacheDirectory=".psalm/cache"
    errorBaseline=".psalm/baseline.xml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MissingReturnType errorLevel="info" />

        <PropertyNotSetInConstructor errorLevel="info" />
        <MissingParamType errorLevel="info" />

        <DocblockTypeContradiction errorLevel="info" />
        <RedundantConditionGivenDocblockType errorLevel="info" />
    </issueHandlers>
</psalm>
